@import '../../assets/styles/index.scss';
#home {
  color: aqua;
  .box {
    width: 100px;
    height: 100px;
    border: 1px solid #ffb696;
    background: url("../../assets/images/zgcf.jpg") no-repeat;
    background-size: cover;
  }
}
