<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
      [v-cloak]{
          display: none;
      }
  </style>
  <script src="/public/rem.min.js"></script>
</head>
<body>
<div id="home" v-cloak>
  <ul class="navs">
    <li class="active"><a href="/home">推荐</a></li>
    <li><a href="/hots">热歌榜</a></li>
  </ul>
  <div v-for="item of list" :key="item.moduleInfo.id" :title="item.moduleInfo.displayName">
    <h3>{{ item.moduleInfo.displayName }}</h3>
    <van-cell-group>
      <van-cell v-for="aItem of item.albumBriefDetailInfos" :key="aItem.id" :title="aItem.albumInfo.title" />
    </van-cell-group>
  </div>

</div>
</body>
</html>
